*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: #fff;
}

.box{
    height: 250px;
    width: 250px;
    background-color: rosybrown;
}

.circle{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: royalblue;
}